@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#121e4f6c, #20358834);
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

::-webkit-scrollbar {
    background: transparent;
    width: 8px;
    height: 9px;
}

dialog:-internal-dialog-in-top-layer {
    position: fixed;
    inset-block-start: 0px;
    inset-block-end: 0px;
    max-width: 99.9%;
    max-height: 99.8%;
    user-select: text;
    visibility: visible;
    overflow: auto;
}

input[type='file']::file-selector-button {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    right: -4px;
    top: 0;
    height: 100%;
    border: none;
    padding: 5px 15px;
    color: #292929cd;
    cursor: pointer;
    font-size: 13px;
    background-color: #dadadaf2;
}

input[type=file]::file-selector-button:hover {
    background-color: #a9a9a9f2;
}

/* React-Select Library CSS */
.css-1u9des2-indicatorSeparator {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    width: 1px;
    background-color: hsl(0, 0%, 80%);
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    box-sizing: border-box;
}

.css-13cymwt-control {
    min-height: max-content !important;
}

.css-hlgwow {
    padding: 0rem 0.5rem !important;
}

.css-1u9des2-indicatorSeparator {
    visibility: hidden;
}

.css-16xfy0z-control,
.css-t3ipsp-control {
    min-height: 10px !important;
}

.css-1xc3v61-indicatorContainer,
.css-15lsz6c-indicatorContainer,
.css-1xc3v61-indicatorContainer {
    padding: 0px 8px !important;
}

.css-13cymwt-control {
    border: 1px solid #d4d4d8 !important;
    outline: none !important;
}

.css-1dyz3mf {
    padding: 1px 1px !important;
}

/* Skeleton CSS */
.animate {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, #fff 4%, #e2e2e2 25%, #fff 36%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

/* Range Slider CSS */
input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #132438 var(--value), #e2e8f0 var(--value));
    border-radius: 5px;
    cursor: pointer;
}

input[type='range']::-moz-range-track {
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #132438 var(--value), #e2e8f0 var(--value));
    border-radius: 5px;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 999;
    appearance: none;
    width: 24px;
    height: 24px;
    background: url('./assets/slider.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
    border: none;
    background-position: center;

    margin-top: -11px;
}

input[type='range']::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: url('./assets/slider.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
    border: none;
    background-position: center;

    margin-top: -11px;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --c1: #EFB036;
        --c2: #3B6790;
        --c3: #23486A;
        --c4: #4C7B8B;
        --c5: #0850ad
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --c1: #efb136b1;
        --c2: #3B6790b1;
        --c3: #23486Ab1;
        --c4: #4C7B8Bb1;
        --c5: #0850ad
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}